
.heading{
letter-spacing: 1px;
}


.logo{
    width: 3.5vw;
    height: auto;
}

.logo-footer{
    width: 12vw;
    height: auto;
}
.intro-text{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    color: white;
    text-align: center;
    top: 35%;
}

a{
    cursor: pointer;
}

.intro-text h1{
    font-size: 5rem;
    color: white;
}

.intro-text h3{
    font-size: 2rem;
}

.intro-text p{
    margin-left: 6px;
    margin-top: 1vh;
}

.card {
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    width: auto;
    cursor: pointer;
    height: 60vh;
}



.card:hover{
    transform: scale(1.05);
}

.h-41{
    height: 12rem;
}

.main-img img{
    height: 90vh;
    object-fit: cover;
    filter: blur(1.5px);
  -webkit-filter: blur(1.5px);
    filter: brightness(60%);
}

nav a:hover{
    color: #6366f1;
}

.section-end{
    margin: 6vh 26vw;
    border:1px solid #D3D3D3;
}

.text-justify{
    text-align: justify;
}

.mx-width{
    margin: 0 7vw 10vh 7vw;
    padding-left: 8vw;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 98.7vw;

}