.heading {
    letter-spacing: 1px;
}

body {
    font-family: 'Roboto', sans-serif;
}

p,
a {
    font-size: 1.1rem;
}

.logo {
    width: 5vw;
    height: auto;
}

.logo-footer {
    width: 12vw;
    height: auto;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: block;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
    border-radius: 3px;
    opacity: 0;
    visibility: hidden;
    transition: visibilty 0s, opacity 0.25s linear;
}

.dropdown-content a {
    display: block;
    margin: 1vh;
    padding: 1vh .5vw;
    border-radius: 3px;
    font-size: 1rem;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
}

.dropdown-content a:hover {
    background-color: whitesmoke;
}

.arrow {
    display: inline;
    font-size: 1.4rem;
}

.intro-text {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    color: white;
    text-align: center;
    top: 35%;
    font-family: 'Bebas Neue', sans-serif;
}

a {
    cursor: pointer;
}

.intro-text h1 {
    color: white;
    font-size: 7rem;

}

.intro-text h2 {
    font-size: 5rem;
    padding-top: 5vh;
    font-family: 'Bebas Neue', sans-serif;

}

.products h1 {
    color: black;
    font-size: 3.5rem;
    text-align: center;
}

.intro-text h3 {
    font-size: 4rem;
}

.intro-text p {
    margin-left: 6px;
    margin-top: 1vh;
}

.card h2 {
    color: rgb(99 102 241);
}

.cards {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    /* margin: 0 4vw; */
    flex-wrap: wrap;
    column-gap: 2vw;
    width: 100%;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    /* width: 23vw; */
    width: 22%;
    padding: 1.2rem 1rem;
    border-radius: 10px;
}

.card .card-text {
    overflow: hidden !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 3 !important;
    line-clamp: 3 !important;
    -webkit-box-orient: vertical !important;
}

.cards img {
    height: 34vh;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.img-wrapper {
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 1.5vh;
}


.card-btn {
    position: absolute;
    background-color: rgb(99 102 241);
    color: white;
    border-radius: 20px;
    height: 4.5vh;
    width: max-content;
    padding: .6vh 2vw;
    z-index: 100;
    top: 34.2vh;
    left: 11vh;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.5);

}


.card:hover .zoom {
    transform: scale(1.4);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

/* media query -> card */
@media screen and (max-width: 800px) {
    .card {
        width: 45%;
    }
}

@media screen and (max-width: 500px) {
    .card {
        width: 70%;
    }

    .logo {
        width: 10vw;
    }

    .intro-text h1 {
        font-size: 3.3rem;
    }
}

/* our products */
.our-products__container {
    margin-bottom: 6rem;
}

.our-products__container .our-products {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}



.main-img img {
    height: 90vh;
    width: 100%;
    object-fit: cover;
    filter: blur(1.5px);
    -webkit-filter: blur(1.5px);
    filter: brightness(60%);
}

.wu-main img {

    filter: blur(0px);
    width: 100%;
    object-fit: cover;
    height: 60vh;
    filter: brightness(80%);
}

.arrow {
    position: relative;
    right: .2vw;
    top: -.45vh;
}

nav a:hover {
    color: black;
}

.section-end {
    margin: 10vh 26vw;
    border: 1px solid #D3D3D3;
}

.text-justify {
    text-align: justify;
}

.mx-width {
    margin: 0 7vw 10vh 7vw;
    padding-left: 8vw;
    padding-right: 8vw;
}

.icon {
    display: inline;
    height: 3.3vh;
    margin-right: 1.5vw;
    object-fit: fill;
    padding-bottom: .6vh;
}

.cat-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 7.3vw;
    padding: 2vh 2vw;
}

.mt-12 {
    margin-top: 12vh;
}

.thumbnail {
    display: flex;
    position: relative;
    height: 28vh;
    transition: all ease-in 0.2s;
}

.thumbnail:hover {
    scale: 1.05;
}

.thumbnail:hover .thumbnail-text {
    opacity: 90%;

}

.thumbnail:hover .thumbnail-img {
    filter: brightness(0.9);
}

.thumbnail-text {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 20%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    transition: all ease-in 0.2s;
    color: white;
    opacity: 0;
    text-align: center;
    padding-top: 1vh;
    border-radius: 5px;
}


/*Products page buttons*/
.btn {
    border-radius: 9999px;
    padding: 0.625rem 1.25rem;
    margin-right: .75rem;
    margin-bottom: .75rem;
    border: solid white .5px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
}

.btn:hover {
    border: solid lightgrey .5px;
}

.selected {
    border: solid blue 1px;
    --tw-text-opacity: 1;
    color: rgb(29 78 216 / var(--tw-text-opacity));
    border-radius: 9999px;
    padding: 0.625rem 1.25rem;
    margin-right: .75rem;
    margin-bottom: .75rem;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
}

.selected:hover {
    background-color: blue;
    color: white;
}

.w-70 {
    width: 70vw;
}

.division-img {
    height: 65vh;
    margin-top: 2vh;
    border-radius: 5px;
}